* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden
}

.logo{
    width: 30%;
    height: 30%;
    color: white;
    margin-top: 45px;
}

header{
    background: url('img/porsche-normal.jpg') no-repeat;
    height: 900px;
    width:  100%;
    background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
}

nav{
    margin-left: -60px;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-size: 18px;
    color: white;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 50px;
}
.menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
}

.menu li{
    margin-right: 60px;
}

nav li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.slogan{
    margin-top: 150px;
    margin-top: 150px;
    margin-right: 200px;
    font-size: 30px;
    background-color: black;
    border-radius: 40px;
    padding: 10px;
    position: relative;
    animation: 2s render linear;
}
.m1{
    position: relative;
    animation: 0.5s render linear;
}
.m2{
    position: relative;
    animation: 1s render linear;
}
.m3{
    position: relative;
    animation: 1.5s render linear;
}
.m4{
    position: relative;
    animation: 2s render linear;
}
.calm{
    font-size: 30px;
    margin-top: 70px;
    margin-left: 400px;
    background-color: black;
    width: 190px;
    padding: 10px;
    border-radius: 40px;
    position:relative;
    top: 0;
    left: 0;
    animation: 2s render linear;
}
@keyframes render{
    0%{
        top: -20px;
        opacity: 0;
    }
    50%{
        top: -10px;
    }
    100%{
        top:0px;
        opacity: 1;
    }
}
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    position: relative;
    animation: 2s render linear;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.container {
    border-radius: 30px;
    background-color: black;
    padding: 20px;
    margin-right: 260px;
    margin-top: 120px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


main{
    background: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
    height: 1040px;
    margin-top: -40px;
}

.preim{
    display: flex;
    flex-direction: column;
}
.adv{
    align-self: center;
    font-size: 30px;
    margin-top: 50px;
    border-top: 5px double white;
    border-bottom: 5px double white; 
}
.preim-container{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 300px;
}
.preim-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    position: relative;
    animation: 2s render linear;
    animation-delay: 1.5s;
}
.preim-text{
    margin-top: 20px;
    padding: 10px;
    border: 3px dashed white;
}
.preim-icon{
    width: 25%;
    height: 25%;
    margin-top: 30px;
}
.grades{
    background: url("img/1616579188_17-p-avtoservis-fon-19.jpg");
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.gr-title{
    font-size: 30px;
}
.grmenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.gr-img{
    width: 120px;
    height: 120px;
    border-radius: 30px;
}
.grblock{
    background: black;
    border-radius: 60px;
    padding: 17px;
}
.mar{
    margin-left:80px;
}
.img-txt{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.h3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 60px;
}
.footer {
    background-color: rgb(0, 0, 0);
    font-family: 'Source Code Pro', monospace;
    color: white;
    height: 450px;
}

.morephoto {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.preim {
    margin-top: 40px;
    margin-left: 30px;
}

footer {
    color: rgb(255, 255, 255);;
    padding: 0;
    border-top: 2px rgb(255, 0, 0) solid;
}

.footer-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 45px;
}

.footer-info{
    margin-left: -100px;
    margin-right: 50px;
}
footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 20px;
}

footer a:hover {
    transform: scale(1.1);
}

.txt-up {
    font-size: 25px;
    margin-top: 20px;
}

.foot-ic {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.mastc {
    width: 40px;
}
.number{
    margin-top: 20px;
}
.logo-bottom{
    width: 180px;
    height: 90px;
}
.store{
    margin-top: 30px;
}
.mr-top{
    margin-top: -1px;
}
@media (max-width : 1200px) {
        .logo-bottom {
            margin-left: -20px;
        }
        .footer{
            height: 1000px;
        }
        .footer-all {
            flex-direction: column;
        }

        .footer-info {
            margin-left: 70px;
        }
        .logo{
            margin-left: 120px;
        }
}
@media (max-width : 1400px) {
        .logo {
            margin-left: 120px;
            width: 180px;
        }
}
@media (max-width : 900px) {
    .logo{
        margin-left: 100px;
    }
   
}
@media (max-width : 800px) {
    .menu {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        background: black;
        width: 120px;
        border-radius: 40px;
        padding: 20px;
        padding-left: 80px;
        margin-right: 20px;
    }

    .menu li {
        margin-top: 10px;
    }

    .form {
        margin-top: 90px;
        width: 800px;
        margin-right: 100px
    }

    .slogan {
        font-size: 10px;
        margin-left: 350px;
    }

    .calm {
        font-size: 20px;
        width: 160px;
    }

    .logo {
        margin-left: 80px;
        width: 180px;
        height: 90px;
        margin-top: 200px;

    }

    .preim-container {
        flex-direction: column;
        margin-top: 280px;
        margin-left: 90px;
    }

    .adv {
        margin-left: -20px
    }

    .preim {
        height: 1000px;
    }

    .footer {
        margin-top: 1200px;
        height: 1200px;
    }

    .grades {
        height: 1400px;
    }

    .grmenu {
        flex-direction: column;
        margin-top: -600px;
    }

    .gr-title {
        margin-top: -300px;
    }

    .grblock {
        width: 400px;
        margin-top: 100px;
    }

    .mar {
        margin-right: 60px;
    }

    .logo-bottom {
        margin-left: -20px;
    }

    .footer-all {
        flex-direction: column;
    }

    .footer-info {
        margin-left: 70px;
    }
}
@media (max-width : 400px) {
    .menu {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        background: black;
        width: 120px;
        border-radius: 40px;
        padding: 20px;
        padding-left: 80px;
        margin-right: 20px;
    }

    .menu li {
        margin-top: 10px;
    }

    .form {
        margin-top: 90px;
        width: 800px;
        margin-right: 100px
    }

    .slogan {
        font-size: 10px;
        margin-left: 350px;
    }

    .calm {
        font-size: 20px;
        width: 160px;
    }

    .logo {
        margin-left: 80px;
        width: 180px;
        height: 90px;
        margin-top: 200px;

    }

    .preim-container {
        flex-direction: column;
        margin-top: 280px;
        margin-left: 90px;
    }

    .adv {
        margin-left: -20px
    }

    .preim {
        height: 1000px;
    }

    .footer {
        margin-top: 1200px;
        height: 1200px;
    }

    .grades {
        height: 1400px;
    }

    .grmenu {
        flex-direction: column;
        margin-top: -600px;
    }

    .gr-title {
        margin-top: -300px;
    }

    .grblock {
        width: 400px;
        margin-top: 100px;
    }

    .mar {
        margin-right: 60px;
    }

    .logo-bottom {
        margin-left: -20px;
    }

    .footer-all {
        flex-direction: column;
    }

    .footer-info {
        margin-left: 70px;
    }
}
